body {
  background: #f8f9fa !important;
}

.is-complete {
  text-decoration: line-through;
}

.fa-exclamation-triangle,
.fa-trash-alt,
.fa-times {
  color: red;
}

.fa-plus,
.fa-search {
  color: #00946b;
}

.sticky-top {
  top: 25px !important;
}

.card-project .card-project:hover,
:hover .card-project:hover {
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.card-project .card-title,
:hover .card-title {
  color: #333;
  text-decoration: none;
}

.card-project .card-text,
.card-project :hover,
:hover .card-text,
:hover :hover {
  color: #333;
  text-decoration: none;
}

.login-image {
  background-image: url("/storage/login/login.jpg");
  background-size: cover;
  border-right: 5px solid #00946b;
}

.login-form {
  margin-top: 150px;
}

.register-form {
  margin-top: 100px;
}

.email-form {
  margin-top: 150px;
}

.login-card {
  min-height: 100vh;
  display: block;
  padding: 173px 55px 55px;
}

.login-title {
  margin-left: 150px;
}

@media only screen and (max-width: 600px) {
  .login-title {
    margin-left: 0;
  }

  .login-form {
    margin-top: 0;
  }
}

.register-title {
  margin-left: 150px;
}

@media only screen and (max-width: 600px) {
  .register-title {
    margin-left: 0;
  }

  .register-form {
    margin-top: 0;
  }

  .login-card {
    padding: 55px 55px;
  }
}

.email-title {
  margin-left: 150px;
}

@media only screen and (max-width: 600px) {
  .email-title {
    margin-left: 0;
  }
}

.login-wrapper {
  margin-top: 800px;
}

.login-wrapper h1 {
  color: green;
}

.navbar-top {
  background: #00946b;
}

.card {
  border-top: 5px solid #00946b;
}

.dropdown-menu {
  z-index: 1025;
}

.sidebar {
  height: 100%;
  background: #dfdfdf;
  position: fixed;
}

.sidebar .sidebar-link {
  color: #333;
  font-size: 20px;
}

.sidebar ul {
  list-style: none;
}

.sidebar .bottom-bar {
  height: 20%;
  position: fixed;
  bottom: 0;
  background: red;
  text-align: center;
  color: green;
}

